*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul { 
    list-style: none;
}

body {
    background-color: rgb(150, 86, 56);
    font-family: 'Lato', sans-serif;
}

.section {
    position: relative;
    height: 94vh;
    margin: 10px;
    background-color: white;
    display: block; 
}


/* ......../ player 1 + player 2 /.......... */

.player1, .player2 {
    position: relative;
    width: 100%; 
    height: 50%;
}

.player1 {
    background-color: rgb(235, 231, 231);
}

.container_player{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pastille_joueur1, .pastille_joueur2 {
    background-color: red;
    height: 20px;
    width: 20px; 
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 5px;
   
}

.player_text {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 25%;
    font-size: 1.5rem;
    margin-left: 15px;
    
}


/* ......../ menu jeux /.......... */

.dice, .newgame, .rolldice, .hold, .round{  
    position: absolute;
    margin-left: auto; 
    margin-right: auto;  
}


.newgame, .rolldice, .hold {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background: none;
    pointer-events: auto;
    cursor: default;
    text-align: center;
    height: 4%;
    display: flex;
    justify-content: center;
    min-width: 10%;
} 

.rolldice img, .hold img, .newgame img {
    height:70%;
    margin-right: 5px;
}

.container_player{
    height: 30%;
}

.player2 .container_player {
    height: 40%;
}

.global {
    padding-left: 15%;
    align-items: center;
    text-align: start;
    font-size: 5rem;
    pointer-events: auto;
    width: 100%;
    height: 120px;
    color: #e50303;
    font-weight: 300;
    height: 60%;
    margin-top: 5%;
}

.round {
    right: 30px;
    width: 75px;
    height: 70px;
    top: 50%;
    bottom: 20%;
    background: #e50303;
    color: white;
    text-align: center;
    font-size: 1.6rem;
}

.round-player1  {
    top: 40%;
} 

.round p {
    color: black;
    font-size: 1rem;
    margin: 5% 0% 15% 0%;
}

.newgame {
    left: 0; 
    right: 0;
    top: 4%;
}

.rolldice {
   
    top: 48%; 
    right: 10px;
   min-width: 110px;
}

.hold {
    top: 48%;
    left: 10px;
    min-width: 6%;
}


/* ......../ lancer de dé /.......... */

.dice {
    left: 0; 
    right: 0;
    border-radius: 10px;
    background-color: white;
    top: 45%;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: -1px 1px 12px 5px rgba(0,0,0,0.3); 
    box-shadow: -1px 1px 12px 5px rgba(0,0,0,0.3);
}


/* ......../modal /.......... */


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    max-width: 80%;
    border-radius: 0.5rem;
    text-align: center;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger {
    display: none;
}


/* ......../ animation lancer de dé /.......... */
.animation {
    
    animation: rotation 1.5s ease-in-out 1;

}

@keyframes rotation {

    0%
    {
        transform: rotate(0deg);
    }
    30%
    {
        transform: rotate(-30deg);
    }
    100%
    {
        transform: rotate(1turn);
    }
    
}



/* ......../ media query /.......... */
  
@media screen and (min-width: 768px) {


    .section {
        height: 90vh;
        margin: 30px;
        display: flex; 
    }



    /* ......../ player 1 + player 2 /.......... */

    .player1, .player2 {
        width: 50%; 
        height: 100%;
    }

    .pastille_joueur1, .pastille_joueur2 {
        margin-top: 21%; 
        margin-bottom: 9px;
    }

    .player_text {
        color: black;
        margin-top: 20%;
        font-size: 2rem;
        min-width: 160px;
        align-items: center;
    }

    /* ......../ menu jeux /.......... */

    .dice, .newgame, .rolldice, .hold, .round{  
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;  
    }

    .newgame, .rolldice, .hold {
        color: gray;
        font-size: 1.5rem;
        height: 5%;
        align-items: center;
        max-width: 170px;
    } 

    .global {
        padding-left: 0%;
        text-align: center;
        width: 120px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    .rolldice img, .hold img, .newgame img {
       
        margin-right: 10px;
    }

    .container_player{
        justify-content: center;
        align-items: flex-end;
        height: auto;
    }

    .player2 .container_player {

        height: auto;
        }

    .round {
        right: none;
        width: 125px;
        height: 100px;
        top: 70%;
    }

    .newgame {
    
        top: 7%;
    }

    .rolldice {
        top: 70%; 
        right: none;
        min-width: none;
    }

    .hold {

        top: 80%;
        left: none;
        min-width: 6%;
    }

    /* ......../ lancer de dé /.......... */

    .dice {
        top: 29%;
        width: 100px;
        height: 100px;
    }

}